.invalidForm {
    border: 1px solid #B00020 !important;
}

.defaultInput {
    composes: body-14-regular from global;
    @apply tw-bg-monochrome-150 tw-rounded tw-outline-none tw-shadow-none tw-border-none tw-pl-4 tw-pr-4 tw-py-[14px] tw-flex-1 
}