.mainContainer {
    @apply tw-flex tw-flex-col tw-rounded-lg tw-shadow-[0_1px_4px_0px_rgba(0,0,0,0.12)]
}

.cardWrapper {
    @apply tw-p-4 tw-flex-row
}

.cardHead {
    @apply tw-flex tw-justify-between tw-items-center
}

.cardRow {
    @apply tw-flex tw-flex-row tw-gap-3 tw-items-center
}

.labelWrapper {
    composes: label-12-medium from global;
}

.dateLabel {
    composes: body-12-regular from global;
    @apply tw-text-tpy-700
}

.productWrapper {
    @apply tw-flex tw-items-start
}

.productImage {
    @apply tw-relative tw-min-h-[40px] tw-min-w-[40px]
}

.otherProductLabel {
    composes: body-12-regular from global;
    @apply tw-mt-3 tw-mb-0 tw-text-tpy-700
}

.refundFormWrapper {
    @apply tw-flex tw-justify-between tw-items-center tw-bg-info-50 tw-pr-4 tw-pl-2 tw-py-2 tw-rounded-lg
}

.fillForm {
    composes: label-14-medium from global;
    @apply tw-mb-0 tw-text-secondary-def tw-whitespace-nowrap tw-cursor-pointer
}