.circleProgress {
    @apply tw-relative tw-z-2 tw-flex tw-justify-center tw-items-center tw-w-[24px] tw-h-[24px] tw-rounded-full
}

.idleStepCircle {
    @apply tw-bg-monochrome-150 tw-border-solid tw-border tw-border-monochrome-700 
}

.activeStepCircle {
    @apply tw-bg-success-50 tw-border-solid tw-border tw-border-success-def
}

.indicatorProgress {
    composes: title-12-medium from global;
    @apply tw-mb-0
}