@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
   @apply !tw-font-roboto 
} */

@layer components {
	:root {
		--monochrome-1: #ffffff !important;
		--monochrome-50: #f8f8f8 !important;
		--monochrome-100: #f1f1f1 !important;
		--monochrome-150: #eaeaea !important;
		--monochrome-200: #e3e3e3 !important;
		--monochrome-300: #d4d4d4 !important;
		--monochrome-400: #c6c6c6 !important;
		--monochrome-500: #b8b8b8 !important;
		--monochrome-600: #939393 !important;
		--monochrome-700: #6e6e6e !important;
		--monochrome-800: #4a4a4a !important;
		--monochrome-900: #252525 !important;
		--monochrome-def: #b8b8b8 !important;
	}

	html {
		color-scheme: light !important;
		-webkit-color-scheme: light !important;
	}

	/* Anti-dark mode detection */
	@media (prefers-color-scheme: light) {
		html,
		body {
			background: #fff !important;
			filter: none !important;
		}
	}

	/* Samsung specific webkit overrides */
	@supports (-webkit-touch-callout: none) {
		html,
		body,
		* {
			-webkit-color-scheme: light !important;
			color-scheme: light !important;
		}
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.box-shadow-m {
		box-shadow: 0px -4px 4px #0000000a;
	}

	.tx-link {
		color: var(--secondary-def);
	}

	.app-header {
		height: 56px;
		z-index: 1020;
		background: var(--primary-def) !important;
		display: flex;
		transition: all 0.15s ease-in-out;
	}

	.app-header .menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1;
	}

	.app-header .menu .menu-item .menu-link .menu-img {
		width: 2rem;
		height: 2rem;
		margin-right: 0.75rem;
	}

	.btn-primary-red {
		color: var(--monochrome-1);
		background-color: var(--primary-def);
		border-color: var(--primary-def);
	}

	.btn-primary-red:hover {
		color: var(--monochrome-1);
		background-color: var(--primary-900);
	}

	.bg-primary-red {
		background-color: var(--primary-def);
	}

	.img-36-round {
		height: 36px;
		width: 36px;
		border-radius: 50%;
	}

	.text-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.absolute-bottom-16 {
		position: absolute;
		bottom: 16px;
		left: 16px;
		right: 16px;
	}

	.font-12 {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.19px;
		margin-bottom: 0;
	}

	.font-14 {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
		margin-bottom: 0;
	}

	.font-16 {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.19px;
		margin-bottom: 0;
	}

	.font-20 {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.15px;
		margin-bottom: 0;
	}

	.font-24 {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.15px;
		margin-bottom: 0;
	}

	.tx-danger {
		color: var(--error-def);
	}

	.bg-gray {
		background-color: var(--monochrome-300);
	}

	.text-break {
		word-wrap: break-word !important;
		word-break: break-word !important;
	}

	.bd-gray-2 {
		border-color: var(--monochrome-500);
	}

	.tx-red {
		color: var(--error-def);
	}

	.tx-green {
		color: var(--success-def);
	}

	.tx-gray-2 {
		color: var(--monochrome-def);
	}

	.tx-gray-3 {
		color: var(--monochrome-700);
	}

	.box-shadow-top2 {
		box-shadow: 0px -4px 4px #00000005;
	}

	.circular-container {
		text-align: center;
	}

	.circular-inner-20 {
		width: 20px;
		height: 20px;
		display: inline-block;
		border-width: 3px;
		border-color: rgba(0, 0, 0, 0.2);
		border-top-color: var(--monochrome-900);
		animation: spin 1s infinite linear;
		border-radius: 100%;
		border-style: solid;
	}

	.circular-inner-16 {
		width: 16px;
		height: 16px;
		display: inline-block;
		border-width: 3px;
		border-color: rgba(0, 0, 0, 0.2);
		border-top-color: var(--monochrome-900);
		animation: spin 1s infinite linear;
		border-radius: 100%;
		border-style: solid;
	}

	.btn-hover:hover {
		background-color: var(--monochrome-200);
	}

	.form-control {
		display: block;
		width: 100%;
		padding: 18px 16px;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: var(--monochrome-900);
		background-color: var(--monochrome-300);
		background-clip: padding-box;
		border: 1px solid rgba(255, 255, 255, 0.3);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 4px;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

	.img-56 {
		width: 56px;
		height: 56px;
	}

	.scrollDownBtn {
		position: absolute;
		right: 16px;
		bottom: 24px;
		z-index: 10;
		cursor: pointer;
	}

	.card-border {
		box-shadow: 0px 1px 4px #0000001f;
		border-radius: 8px;
		opacity: 1;
	}

	.card-border-16px {
		box-shadow: 0px 1px 4px #0000001f;
		border-radius: 16px;
		opacity: 1;
	}

	.absolute-0 {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.custom-pdf-container {
		flex: 1;
		display: flex;
		width: 100%;
		overflow: scroll;
	}

	.custom-pdf-container,
	.react-pdf__Page {
		width: 100%;
		max-height: 100%;
	}

	.custom-pdf-container,
	.react-pdf__Document {
		padding-bottom: 48px;
	}

	.react-pdf__Page canvas {
		max-width: 450px !important; /* prevent auto scaling to container */
		height: auto !important;
		overflow: auto !important;
	}

	.img-40 {
		height: 40px;
		width: 40px;
	}

	.img-fit-cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img-16-9 {
		aspect-ratio: 16/9;
	}

	.box-shadow-bottom {
		box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.12) !important;
	}

	.btn-floating-top-right {
		position: absolute;
		top: -64px;
		right: 16px;
	}

	.filter-gray {
		filter: grayscale(1);
	}

	.bg-watermark-prescription {
		height: 100%;
		width: 100%;
		/* position: relative; */
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		display: inline-block;
		overflow: hidden;
		/* hide the overflow here not on the pseudo element */
	}

	.bg-watermark-prescription::before {
		content: '';
		position: absolute;
		z-index: -1;
		/* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
		width: 600%;
		height: 600%;
		/**/
		/* to center*/
		left: 50%;
		top: 50%;
		/* */
		background: url(images/img-watermark-prescription-expired.svg);
		background-size: 300px;
		/* size of the image*/
		transform: translate(-50%, -50%) rotate(-45deg);
		/* center the element then rotate */
		opacity: 0.08;
	}

	.bg-watermark-active-prescription {
		height: 100%;
		width: 100%;
		/* position: relative; */
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		display: inline-block;
		overflow: hidden;
		/* hide the overflow here not on the pseudo element */
	}

	.bg-watermark-active-prescription::before {
		content: '';
		position: absolute;
		z-index: -1;
		/* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
		width: 600%;
		height: 600%;
		/**/
		/* to center*/
		left: 50%;
		top: 50%;
		/* */
		background: url(images/img-watermark-prescription.svg);
		background-size: 300px;
		/* size of the image*/
		transform: translate(-50%, -50%) rotate(-45deg);
		/* center the element then rotate */
		opacity: 0.08;
	}

	.box-light-green {
		background-color: var(--success-100);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.tx-countdown {
		flex: 1;
		color: var(--success-800);
		margin-bottom: 0;
	}

	.tx-countdown-end {
		color: var(--error-900);
	}

	.bg-red2 {
		background-color: var(--error-def);
	}

	.bg-green2 {
		background-color: var(--success-def);
	}

	.bg-orange2 {
		background-color: var(--info-700);
	}

	.box-light-green {
		background-color: var(--success-100);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.box-light-red {
		background-color: var(--error-100);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.box-light-yellow {
		background-color: var(--info-50);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.card-chat {
		padding: 12px;
		max-width: 80%;
		border-radius: 16px;
	}

	/* old ver */
	.card-chat-gray {
		background-color: var(--monochrome-100);
		color: black;
	}

	/* new ver */
	.card-chat-blue90 {
		background-color: var(--secondary-50);
		color: var(--monochrome-900);
	}

	.card-chat-blue {
		background-color: var(--secondary-def);
		color: var(--monochrome-1);
	}

	.card-chat-blue90-active {
		background-color: var(--secondary-50);
		color: var(--monochrome-900);
	}

	.card-chat-blue-active {
		background-color: var(--secondary-def);
		color: var(--monochrome-1);
	}

	.card-chat-gray-2 {
		background-color: var(--monochrome-500);
		color: var(--monochrome-def);
		filter: grayscale(100%);
	}

	.line-break-solid {
		border-top: 2px solid var(--monochrome-300);
	}

	.line-break-dashed {
		border-top: 1px dashed var(--monochrome-300);
	}

	.flatlist::-webkit-scrollbar {
		display: none !important;
	}

	.flatlist {
		-ms-overflow-style: none !important;
		/* IE and Edge */
		scrollbar-width: none !important;
		/* Firefox */
	}

	.display-webkit-box {
		display: -webkit-box;
	}

	@media (max-width: 350px) {
		.xs-screen-font {
			font-size: 12px !important;
		}
	}

	/* Custom font from ddd DESIGN SYSTEM */
	/* https://www.figma.com/file/Dr5gzxH3NLpQxiU5qQnGW8/D2D-Design-System-V2?type=design&node-id=566-877&mode=dev */

	/* BODY */
	.body-10-medium {
		@apply tw-font-roboto tw-text-[10px] tw-font-medium tw-leading-4 tw-tracking-[0.4px] tw-mb-0;
	}

	.body-12-regular {
		@apply tw-font-roboto tw-text-[12px] tw-font-normal tw-leading-4 tw-tracking-[0.4px] tw-mb-0;
	}

	.body-14-regular {
		@apply tw-font-roboto tw-text-[14px] tw-font-normal tw-leading-5 tw-tracking-[0.25px] tw-mb-0;
	}

	.body-16-regular {
		@apply tw-font-roboto tw-text-[16px] tw-font-normal tw-leading-6 tw-tracking-[0.5px] tw-mb-0;
	}

	/* LABEL */
	.label-11-medium {
		@apply tw-font-roboto tw-text-[11px] tw-font-medium tw-leading-4 tw-tracking-[0.5px] tw-mb-0;
	}

	.label-12-medium {
		@apply tw-font-roboto tw-text-[12px] tw-font-medium tw-leading-4 tw-tracking-[0.5px] tw-mb-0;
	}

	.label-14-medium {
		@apply tw-font-roboto tw-text-[14px] tw-font-medium tw-leading-5 tw-tracking-[0.1px] tw-mb-0;
	}

	.label-16-medium {
		@apply tw-font-roboto tw-text-[16px] tw-font-medium tw-leading-6 tw-tracking-[0.15px] tw-mb-0;
	}

	/* TITLE */
	.title-14-medium {
		@apply tw-font-roboto tw-text-[14px] tw-font-medium tw-leading-5 tw-tracking-[0.1px] tw-mb-0;
	}

	.title-16-medium {
		@apply tw-font-roboto tw-text-[16px] tw-font-medium tw-leading-6 tw-tracking-[0.15px] tw-mb-0;
	}

	.title-18-medium {
		@apply tw-font-roboto tw-text-[18px] tw-font-medium tw-leading-6 tw-tracking-[0.15px] tw-mb-0;
	}

	.title-20-medium {
		@apply tw-font-roboto tw-text-[20px] tw-font-medium tw-leading-7 tw-tracking-[0.15px] tw-mb-0;
	}

	/* HEADLINE */
	.headline-24-regular {
		@apply tw-font-roboto tw-text-[24px] tw-font-normal tw-leading-8;
	}

	.headline-24-bold {
		@apply tw-font-roboto tw-text-[24px] tw-font-bold tw-leading-8;
	}

	.headline-28-regular {
		@apply tw-font-roboto tw-text-[28px] tw-font-normal tw-leading-9;
	}

	.headline-32-regular {
		@apply tw-font-roboto tw-text-[32px] tw-font-normal tw-leading-10;
	}

	.headline-96-bold {
		@apply tw-font-roboto tw-text-[96px] tw-font-bold tw-leading-[115.2px];
	}

	/* DISPLAY */
	.m3-display-small {
		@apply tw-font-roboto tw-text-[36px] tw-font-normal tw-leading-[44px];
	}

	.m3-display-medium {
		@apply tw-font-roboto tw-text-[45px] tw-font-normal tw-leading-[52px];
	}

	.m3-display-large {
		@apply tw-font-roboto tw-text-[57px] tw-font-normal tw-leading-[64px];
	}

	/* custom file input */
	.custom-file-input {
		display: inline-flex;
		position: relative;
		overflow: clip;
	}

	.custom-file-input > input[type='file'] {
		cursor: pointer;
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.custom-file-input > input[type='file']::file-selector-button {
		cursor: pointer;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	/* custom file input */

	/* LINE */
	.line-9-top {
		border-top: 1px solid var(--monochrome-500);
	}

	.line-9-bottom {
		border-bottom: 1px solid var(--monochrome-500);
	}

	.marked-url-sender {
		color: var(--monochrome-1);
		cursor: pointer;
		text-decoration: underline;
	}

	.marked-url-reciver {
		color: var(--secondary-def);
		cursor: pointer;
	}

	.tx-chat {
		margin-bottom: 8px;
		white-space: pre-wrap;
		word-break: break-word;
	}

	.chat-background {
		/* => next will be integrate from cms */
		background-image: url('images/chat-background.png');
		/* Path to your image */
		background-size: cover;
		/* Ensures the image covers the entire element */
		background-position: center;
		/* Centers the image */
		background-repeat: no-repeat;
		/* Prevents the image from repeating */
		height: 100vh;
		/* Full viewport height */
		justify-content: center;
		align-items: center;
		background-size: cover;
		/* Ensures the image covers the entire element */
		background-position: center;
		/* Centers the image */
		background-repeat: no-repeat;
		/* Prevents the image from repeating */
		height: 100vh;
		/* Full viewport height */
		justify-content: center;
		align-items: center;
	}

	.transXY {
		transform: translateX(-50%) translateY(-50%) !important;
	}

	.box-light-gray {
		@apply tw-bg-monochrome-100 tw-flex tw-flex-row tw-items-center;
	}

	.box-light-red {
		@apply tw-bg-error-100 tw-flex tw-flex-row tw-items-center;
	}

	.btn-hover {
		@apply hover:tw-bg-monochrome-100;
	}

	.input-chat {
		@apply tw-resize-none tw-min-h-[57px] tw-max-h-[128px] tw-outline-none tw-bg-transparent tw-w-full tw-flex-1 tw-grid-cols-10 tw-border-none tw-p-4 max-[350px]:tw-text-xs tw-mr-0 tw-overflow-hidden;
	}

	.input-group {
		@apply tw-flex tw-w-full tw-items-center tw-mr-3 tw-bg-monochrome-150 tw-rounded-4xl;
	}

	.flex-0 {
		flex: 0;
	}

	.voucher-01-ic > svg > path:first-child {
		fill: var(--secondary-def);
	}
	.voucher-02-ic > svg > path:nth-child(2) {
		fill: var(--secondary-300);
	}

	.voucher-03-ic > svg > rect:nth-child(7) {
		fill: var(--primary-def);
	}
	.voucher-03-ic > svg > rect:nth-child(8) {
		fill: var(--primary-def);
	}
	.voucher-03-ic > svg > rect:nth-child(9) {
		fill: var(--primary-def);
	}
	.voucher-03-ic > svg > rect:nth-child(10) {
		fill: var(--primary-def);
	}
	.voucher-03-ic > svg > circle:nth-child(4) {
		fill: var(--primary-def);
	}

	.delivery-01-ic > svg > path:first-child {
		fill: var(--secondary-def);
	}
	.delivery-02-ic > svg > path:nth-child(2) {
		fill: var(--secondary-300);
	}
	.delivery-03-ic > svg > path:nth-child(3) {
		fill: var(--secondary-600);
	}
	.delivery-04-ic > svg > path:nth-child(4) {
		fill: white;
	}

	.secondary-ic > svg > path {
		fill: var(--secondary-def);
	}
	.secondary-ic-first > svg > path:first-child {
		fill: var(--secondary-def);
	}

	.scroll-container {
		overflow-x: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE & Edge lama */
	}

	.scroll-container::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
