
.tag {
    display: inline-block;
    border-radius: 999px;
    font-weight: 600;
    margin-right: 12px;
    margin-top: 12px;
}

.tagIdle {
    padding: 8px 16px;
    background-color:  var(--monochrome-200);
    color: var(--monochrome-900);
    border: 1px solid transparent
}

.tagActive {
    padding: 8px 16px;
    background-color: var(--secondary-50);
    color: var(--secondary-def) !important;
    border: 1px solid var(--secondary-def);
}

.input {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--monochrome-200);
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
}

.inputStyle {
    composes: body-14-medium from global;
    @apply tw-w-full;
}

.containerFooter {
    @apply tw-flex tw-gap-4 tw-pb-6 tw-px-4 tw-mt-4
}

.containerBody {
    @apply tw-pt-4 tw-px-4 tw-flex tw-flex-col tw-items-center tw-h-max
}

.title {
    composes: body-18-medium from global;
    @apply tw-mb-0 tw-text-left tw-mt-6;
}

.reactionContainer {
    @apply tw-flex tw-justify-around tw-gap-7 tw-my-6;
}

.labelMessage {
    composes: body-14-medium from global;
    @apply tw-mb-0;
}

.headPrescContainer {
    @apply tw-w-full tw-flex tw-justify-start tw-mt-6 tw-border-solid tw-border-t-0 tw-border-x-0 tw-border-b-1 tw-pb-5 tw-border-monochrome-50;
}

