.sectionList {
    @apply tw-w-full tw-bg-white tw-p-4 tw-mb-[5px]
}

.sectionLabel {
    @apply tw-text-sm tw-text-tpy-700 tw-font-bold
}

.rectangleShape {
    @apply tw-border-b-[5px] tw-border-solid tw-border-monochrome-50
}

.icArrow {
    @apply tw-text-tpy-700 tw-text-lg
}

.cardPaymentContainer {
    @apply tw-p-4 tw-mt-4 tw-flex tw-justify-between tw-items-center tw-rounded-lg tw-shadow-[0_1px_4px_0px_rgba(0,0,0,0.12)]
}

.paymentGroup {
    @apply tw-flex tw-items-center
}


